In [1]:
import numpy as np
import pandas as pd

In [2]:
def number_of_tweets_per_day(df):
  ### Code Here
    #df = df['Date'].to_list()
    twitter_df['Date'] = pd.DataFrame([item.split()[0] for item in dates],columns=["Date"])

    twitter_cnt=twitter_df.groupby('Date').count()

    twitter_cnt.reset_index(inplace=True)

#     date.drop(['Tweets'],axis=1,inplace=True)

#     date.columns = ['Date', 'Tweets']
    
    return twitter_cnt

In [3]:
url = 'https://raw.githubusercontent.com/RidhaMoosa/eskom_data-/master/twitter_nov_2019.csv'
twitter_df = pd.read_csv(url)

dates = twitter_df['Date'].to_list()

In [4]:
number_of_tweets_per_day(twitter_df)

         Date  Tweets
0  2019-11-20      18
1  2019-11-21      11
2  2019-11-22      25
3  2019-11-23      19
4  2019-11-24      14
5  2019-11-25      20
6  2019-11-26      32
7  2019-11-27      13
8  2019-11-28      32
9  2019-11-29      16